<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classico | Главная</title>
    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/components/sticky.min.css">
    <link rel="stylesheet" href="css/components/slider.min.css">
    <link rel="stylesheet" href="css/components/slidenav.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!--НАЧАЛО header-->
    <header id="home">
        <p class="uk-container uk-container-center uk-clearfix">
            <span class="contacts">
                <a href="mailto:classico.almaty@gmail.com">classico.almaty@gmail.com</a>
                <a href="tel:+77272937372">+7(727) 293 7372</a>
                <a href="tel:+77010333396">+7(701) 033 3396</a>
            </span>

            <span class="social-icons">
                <a href=""><i class="uk-icon-instagram"></i></a>
                <a href=""><i class="uk-icon-facebook"></i></a>
                <a href=""><i class="uk-icon-vk"></i></a>
                <a href=""><i class="uk-icon-twitter"></i></a>
            </span>
        </p>
    </header>
    <!--КОНЕЦ header-->

    <!--НАЧАЛО nav-and-logo-->
    <div class="nav-and-logo">
        <div class="uk-container uk-container-center">
            <a href="index.html"><img src="img/logo.png" alt="Лого" class="logo"></a>
            <nav class="uk-navbar" data-uk-sticky="{getWidthFrom:'body', top:-200, animation: 'uk-animation-slide-top'}">
                <ul class="uk-navbar-nav uk-hidden-small" data-uk-scrollspy-nav="{closest:'li', topoffset:-200}">
                    <li><a href="#home" data-uk-smooth-scroll>Главная</a></li>
                    <li><a href="#services" data-uk-smooth-scroll="{offset: 60}">Наши услуги</a></li>
                    <li><a href="#about" data-uk-smooth-scroll="{offset: 60}">О центре</a></li>
                    <li><a href="#partners" data-uk-smooth-scroll="{offset: 60}">Партнёры</a></li>
                    <li><a href="#trainings" data-uk-smooth-scroll="{offset: 60}">Обучение</a></li>
                    <li><a href="#feedback" data-uk-smooth-scroll="{offset: 60}">Связаться</a></li>
                    <li><a href="#footer" data-uk-smooth-scroll="{offset: 40}">Контакты</a></li>
                </ul>
                <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            </nav>

            <div id="my-id" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                        <li><a href="#home" data-uk-smooth-scroll>Главная</a></li>
                        <li><a href="#services" data-uk-smooth-scroll="{offset: 60}">Наши услуги</a></li>
                        <li><a href="#about" data-uk-smooth-scroll="{offset: 60}">О центре</a></li>
                        <li><a href="#partners" data-uk-smooth-scroll="{offset: 60}">Партнёры</a></li>
                        <li><a href="#trainings" data-uk-smooth-scroll="{offset: 60}">Обучение</a></li>
                        <li><a href="#feedback" data-uk-smooth-scroll="{offset: 60}">Связаться</a></li>
                        <li><a href="#footer" data-uk-smooth-scroll="{offset: 40}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--КОНЕЦ nav-and-logo-->

    <!--НАЧАЛО main-section-->
    <div class="main-section">
        <p><span>Classico - Мы оказываем качественные</span></p>
        <p><span>услуги в сфере косметологии</span></p>
        <p><span>А еще мы готовим специалистов</span></p>
        <p><span>высокого уровня</span></p>
    </div>
    <!--КОНЕЦ main-section-->



    <!--НАЧАЛО Услуги-->
    <!--НАЧАЛО типовой заголовок-->
    <div class="heading" id="services">
        <div class="uk-container uk-container-center">
            <h2>Услуги центра косметологии Classico</h2>
            <a href="services.html">Все услуги</a>
        </div>
    </div>
    <!--КОНЕЦ типовой заголовок-->
    <div class="services">
        <div class="uk-container uk-container-center">
            <ul class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                <li>
                    <div class="img" style="background-image: url('img/services-example.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Название услуги</h3>
                        <p>
                            Fusce tincidunt tellus eget tristique cursus orci mi iaculis sem, sit amet dictum velit
                            velit eu magna. Fusce tinc dunt tellus eget tristique cursus orci mi iaculis sem.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example-long.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Длинное название услуги</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid
                            assumenda ducimus ea et fuga minus molestias nemo nobis, non quaerat quas sequi vel
                            voluptates.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Название услуги</h3>
                        <p>
                            Fusce tincidunt tellus eget tristique cursus orci mi iaculis sem, sit amet dictum velit
                            velit eu magna. Fusce tinc dunt tellus eget tristique cursus orci mi iaculis sem.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example-long.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Длинное название услуги</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid
                            assumenda ducimus ea et fuga minus molestias nemo nobis, non quaerat quas sequi vel
                            voluptates.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Название услуги</h3>
                        <p>
                            Fusce tincidunt tellus eget tristique cursus orci mi iaculis sem, sit amet dictum velit
                            velit eu magna. Fusce tinc dunt tellus eget tristique cursus orci mi iaculis sem.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example-long.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Длинное название услуги</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid
                            assumenda ducimus ea et fuga minus molestias nemo nobis, non quaerat quas sequi vel
                            voluptates.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Название услуги</h3>
                        <p>
                            Fusce tincidunt tellus eget tristique cursus orci mi iaculis sem, sit amet dictum velit
                            velit eu magna. Fusce tinc dunt tellus eget tristique cursus orci mi iaculis sem.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
                <li>
                    <div class="img" style="background-image: url('img/services-example-long.jpg')">
                    </div>
                    <div class="text-section">
                        <h3>Длинное название услуги</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid
                            assumenda ducimus ea et fuga minus molestias nemo nobis, non quaerat quas sequi vel
                            voluptates.
                        </p>
                        <a href="single-service.html">Подробнее</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--КОНЕЦ Услуги-->


    <!--НАЧАЛО О нас-->
    <!--НАЧАЛО типовой заголовок-->
    <div class="heading" id="about">
        <div class="uk-container uk-container-center">
            <h2>О центре косметологии Сlassico</h2>
            <a href="single-article.html">Подробнее</a>
        </div>
    </div>
    <!--КОНЕЦ типовой заголовок-->
    <div class="about">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-1-2">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/B0j4qH7AHTY' frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div class="uk-width-medium-1-2">
                    <p>Suspendisse condimentum, sem at maximus lacinia, orci justo aliquet justo, molestie fringilla sem enim ac magna. Nulla euismod nunc ac fermentum varius. Phasellus imperdiet ex sed elit scelerisque, facilisis mattis purus aliquam. Aliquam id sapien vel orci dapibus feugiat. Suspendisse sit amet purus lacinia, accumsan eros at, aliquam sem. Mauris sit amet posuere libero, in tincidunt magna. Mauris consequat nisi vel iaculis venenatis.<br><br>
                        Nunc sit amet magna leo. Nullam ornare augue in dui ornare gravida. Nam dignissim pellentesque sollicitudin. Nunc vehicula molestie libero, in fermentum erat aliquet quis. Sed leo urna, aliquam sed tempus at, tempor a est. In hac habitasse platea dictumst. Ut in purus faucibus, tincidunt nunc sed, ultrices orci. Fusce sed lorem ac arcu feugiat posuere sed in sem. Integer quis ante cursus sapien lacinia rutrum vitae nec augue. Mauris quis ultricies mauris. Aliquam id sapien vel orci dapibus feugiat. Suspendisse sit amet purus lacinia, accumsan eros at, aliquam sem. Mauris sit amet posuere libero, in tincidunt magna.</p>
                </div>
            </div>
        </div>
    </div>
    <!--КОНЕЦ О нас-->

    <!--НАЧАЛО партнёры-->
    <!--НАЧАЛО типовой заголовок-->
    <div class="heading" id="partners">
        <div class="uk-container uk-container-center">
            <h2>Партнёры нашего центра</h2>
        </div>
    </div>
    <!--КОНЕЦ типовой заголовок-->
    <div class="partners">
        <div class="uk-container uk-container-center">
            <div class="data-uk-slider uk-slidenav-position" data-uk-slider>
                <div class="uk-slider-container">
                    <ul class="uk-slider uk-grid uk-grid-large uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <li>
                            <a href="single-article.html">
                                <div class="img" style="background-image: url('img/partners-example-1.jpg');"></div>
                                <div class="partner-name">
                                    <p>Имя партнёра</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="single-article.html">
                                <div class="img" style="background-image: url('img/partners-example-2.jpg');"></div>
                            <div class="partner-name">
                                <p>Очень-очень-очень
                                    длинное длинное длинное
                                    имя партнера дочень длинное</p>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="single-article.html">
                                <div class="img" style="background-image: url('img/partners-example-3.jpg');"></div>
                                <div class="partner-name">
                                    <p>Длинное Имя партнера</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous">
                    <img src="img/arrow-left.png" alt="Предыдущее фото">
                </a>
                <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next">
                    <img src="img/arrow-right.png" alt="Следущее фото">
                </a>
            </div>
        </div>
    </div>
    <!--КОНЕЦ партнёры-->


    <!--НАЧАЛО Обучение-->
    <!--НАЧАЛО типовой заголовок-->
    <div class="heading" id="trainings">
        <div class="uk-container uk-container-center">
            <h2>Обучение косметологии</h2>
            <a href="single-article.html">Подробнее</a>
        </div>
    </div>
    <!--КОНЕЦ типовой заголовок-->
    <div class="trainings">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-1-2">
                    <img src="img/training-example.jpg">
                </div>
                <div class="uk-width-medium-1-2">
                    <p>Suspendisse condimentum, sem at maximus lacinia, orci justo aliquet justo, molestie fringilla sem enim ac magna. Nulla euismod nunc ac fermentum varius. Phasellus imperdiet ex sed elit scelerisque, facilisis mattis purus aliquam. Aliquam id sapien vel orci dapibus feugiat. Suspendisse sit amet purus lacinia, accumsan eros at, aliquam sem. Mauris sit amet posuere libero, in tincidunt magna. Mauris consequat nisi vel iaculis venenatis.</p>

                    <p>Обучение проводится по следующим специальностям:</p>
                    <ul>
                        <li>Cпециальность 1</li>
                        <li>Cпециальность 2</li>
                        <li>Cпециальность 3</li>
                        <li>Cпециальность 4</li>
                        <li>Cпециальность 5</li>
                        <li>Cпециальность 6</li>
                    </ul>

                    <p>Suspendisse condimentum, sem at maximus lacinia, orci justo aliquet justo, molestie fringilla sem enim ac magna. Nulla euismod nunc ac mentum varius. Phasellus imperdiet ex sed elit scelerisque, facilisis </p>
                </div>
            </div>
        </div>
    </div>
    <!--КОНЕЦ Обучение-->


    <!--НАЧАЛО оставить заявку-->
    <div class="feedback" id="feedback">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-2-3 uk-push-1-3 text-col">
                    <!--НАЧАЛО типовой заголовок-->
                    <div class="heading">
                        <div class="uk-container uk-container-center">
                            <h2>Оставить заявку</h2>
                        </div>
                    </div>
                    <!--КОНЕЦ типовой заголовок-->
                    <div class="text">
                        <p>Если у Вас возникли вопросы, <br>мы всегда рады на них ответить.</p>
                    </div>

                </div>
                <div class="uk-width-medium-1-3 uk-pull-2-3 form-col">
                    <form action="">
                        <input type="text" id="name" placeholder="Ваше имя">
                        <input type="tel" id="phoneNumber" placeholder="Номер телефона">
                        <textarea name="msg" id="msg" placeholder="Опишите, что Вас интересует"></textarea>
                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--КОНЕЦ оставить заявку-->

    <!--НАЧАЛО оставить заявку-->
    <footer id="footer">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-1-3 contacts-col">
                <img src="img/logo-white.png" alt="Лого" class="logo">
                    <h3>Наши контакты</h3>
                    <div class="address-container">
                        <p class="address">г. Алматы, <br>
                            Абая, 89, уг. ул. Шарипова</p>
                    </div>
                    <div class="phone-and-email">
                        <p><a class="phone-number" href="tel:+77272937372">+7 (727) 293 7372</a> <br>
                        <a class="phone-number" href="tel:+77010333396">+7 (701) 033 3396</a> <br>
                        <a href="mailto:classico.almaty@gmail.com">classico.almaty@gmail.com</a></p>
                    </div>
                    <span class="social-icons">
                        <a href=""><i class="uk-icon-instagram"></i></a>
                        <a href=""><i class="uk-icon-facebook"></i></a>
                        <a href=""><i class="uk-icon-vk"></i></a>
                        <a href=""><i class="uk-icon-twitter"></i></a>
                    </span>
                </div>
                <div class="uk-width-medium-2-3">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=2Aruj5Ev5-HE1L75w8x2ht9k9U70U2T7&amp;width=100%&amp;height=422&amp;lang=ru_RU&amp;sourceType=constructor"></script>
                </div>
            </div>
        </div>
    </footer>
    <!--КОНЕЦ оставить заявку-->


    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/components/sticky.min.js"></script>
    <script src="js/components/slider.min.js"></script>
    <script src="js/components/lightbox.min.js"></script>
</body>
</html>